@import '../../styles/global.scss';

.sideNavCont {
  width: size(375);
  height: size(811);
  display: flex;
  align-items: center;
  background-color: black;
}

ul {
  list-style: none;
  border: 1px $bg solid;
  height: size(455);
  width: size(130);
  display: flex;
  flex-direction: column;
}

li {
  border: 1px red solid;
  margin: size(5) 0 0;
  padding: size(15);
  background-color: black;
  color: #fff;
  font-size: size(20);
  font-weight: 650;
  width: auto;
}