@import "../../styles/global.scss";


.sideNavCont {
  background-image: url("../../asset/resource/8.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: size(700);
  height: size(400);
  border: 1px red solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}